<link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
<meta property="og:image" content="{{ '/favicon.png' | absolute_url }}">
<meta property="og:description" content="Chat to raid!" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47155583-3">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-47155583-3');
</script>
<!-- Twitter conversion tracking base code -->
<script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  twq('config','oc2va');
</script>
<!-- End Twitter conversion tracking base code -->
